@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background: url('burger.jpeg');
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

header {
  text-align: center;
}

.burger-container {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 5px 15px;
}

.burger-card {
  display: flex;
  align-items: center;
}

.new-burger {
  width: 300px;
  margin: 0 auto;
}